.container
    width: 900px
    display: flex
    margin: 0 auto
    button
        width: 200px
        border: 2px solid transparent
        margin: 0 auto
        cursor: pointer 
        padding: 15px
        color: #cceffa
        font-family: sans-serif
        text-transform: uppercase
        border-radius: 7px
        transition: all 0.3s ease-out
        font-weight: bold
    button:hover
        border: 2px solid #98d6ea

.modal-container
    width: 516px
    margin: 0 auto  
    .header
        background-color: #d44637
        color: #ffffff
        font-size: 22px
        font-family: Helvetica, sans-serif
        padding: 26px 30px
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        display: flex
        justify-content: space-between
        h5
            margin: 0
        img
            cursor: pointer
    .content
        background-color: #e74c3c
        color: #ffffff
        font-size: 15px
        text-align: center
        font-family: Helvetica, sans-serif
        padding: 40px 47px
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        p
            margin: 0
        .buttons
            display: flex
            justify-content: space-around
            margin-top: 35px
        button
            width: 100px
            background-color: #b3382c
            font-family: Helvetica, sans-serif
            font-size: 15px
            color: #ffffff
            border: none
            border-radius: 4px
            padding: 15px 
            cursor: pointer