:root {
    --main-color: #3cb879;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: url('../img/background.jpeg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.5)
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}

.header-line {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-out;
}

.logo a:hover {
    color: var(--main-color);
}

.calendar {
    border: none;
    background: transparent;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    background-position: -60px -5px;
}

.calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -5px -34px;
}

.chat {
    border: none;
    background: transparent;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    background-position: -34px -35px;
}

.chat:hover {
    width: 28px;
    height: 20px;
    background-position: -89px -5px;
}

.compass {
    border: none;
    background: transparent;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: -72px -35px;
}

.compass:hover {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}

.panel p {
    display: inline-block;
    color: white;
}

.panel a {
    color: var(--main-color);
    text-decoration: none;
}

.panel a:hover {
    text-decoration: underline;
}

.registration-form {
    max-width: 445px;
    border-radius: 10px;
    background-color: white;
    margin: 65px auto;
    position: relative;
    padding-top: 27px;
    padding-bottom: 32px;
}

.square-box {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 29px;
    left: 0;
    background-color: var(--main-color);
}

.container-reg {
    max-width: 322px;
    margin: 0 auto;
}

.get-started {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sign-up p {
    margin: 0;
    color: #434343;
    font-size: 20px;
}

.log-in a {
    font-size: 14px;
    color: var(--main-color);
    text-decoration: none;
}

.log-in a:hover {
    text-decoration: underline;
}

.social-media {
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
}

.facebook {
    border: none;
    background-color: #305db8;
    font-size: 16px;
    width: 155px;
    color: white;
    padding-bottom: 17px;
    border-radius: 5px;
    padding-top: 17px;
    display: flex;
    align-items: center;
}

.fb-icon {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    background-position: -40px -5px;
}

.facebook:hover {
    background-color: #254b94;
}

.google {
    border: none;
    font-size: 16px;
    background-color: #df4a32;
    color: white;
    border-radius: 5px;
    width: 155px;
    padding-bottom: 17px;
    padding-top: 17px;
    display: flex;
    align-items: center;
}

.google-icon {
    background-image: url('../img/spritesheet.png');
    width: 25px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.google:hover {
    background-color: #c3412b;
}

.line {
    display: flex;
    margin-bottom: 18px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 100%;
    border-radius: 5px;
    padding: 20px 0px 20px 20px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.input-field:focus {
    outline: none;
    box-shadow: -1px 1px 5px #aaaaaa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.terms {
    margin-top: 20px;
}

.terms label {
    font-size: 14px;
}

.terms a {
    text-decoration: none;
    color: var(--main-color);
}

.terms a:hover {
    text-decoration: underline;
}

.create-account {
    background-color: #3cb879;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    margin-top: 25px;
}

.create-account:hover {
    background-color: #319966;
}