:root {
    --main-color: #4bcaff;
    --upper-menu-bg: #36444f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: myriad-pro-regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 80px;
}

.logo span {
    color: var(--main-color);
}

.upper-menu {
    background-color: var(--upper-menu-bg);
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.menu-tabs {
    text-decoration: none;
    font-size: 24px;
    color: white;
    transition: all 0.3s ease-out;
}

.menu-tabs:hover {
    background-color: #222e3a;
}

.main {
    display: flex;
}

.side-menu {
    border: 1px solid lightgray;
    width: 340px;
    display: flex;
    flex-direction: column;
}

.side-menu a {
    text-decoration: none;
}

.content {
    width: calc(100% - 340px);
}

.image {
    padding: 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.footer {}

.footer-menu {
    display: flex;
    background-color: #b3b7ba;
    align-items: center;
}

.row {}

.space-between {
    justify-content: space-between;
}

.footer-menu a {
    text-decoration: none;
    color: #0c1a27;
    transition: all 0.1s ease-out;
}

.footer-menu a:hover {
    color: #3181a6;
}