:root {
    --grayish: #1c2a33;
    --blueish: #18cfab;
    --whiteish: #aeaeae; 
}

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}

body {
    width: 1920px;
    margin: 0;
}

header {
    background-image: url('../img/section-1(header).jpg');
}

.translucent-header {
    background-color: rgba(100, 100, 100, 0.5);
    padding-bottom: 245px;
}

.header {
    margin-bottom: 245px;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.logo a {
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.logo span {
    color: var(--blueish);
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #b8b8b8;
    font-weight: 700;
}

.slogan {
    text-align: center;
}

.slogan h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 46px;
}

.slogan h1 span {
    color: var(--blueish);
}

.slogan h3 {
    text-transform: uppercase;
    color: white;
    font-size: 79px;
    margin: 0 0 40px;
}

.slogan h4 {
    color: white;
    font-size: 34px;
    margin: 0 0 140px;
}

.slogan a {
    width: 165px;
    padding: 23px 31px;
    color: white;
    border-top: 5px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.options {
    display: flex;
}

.explore-btn {
    background-color: var(--blueish);
}

.purchase-btn {
    background-color: #00cbf6;
}

.option {
    width: 480px;
    padding: 88px 0;
}

.first, .third {
    background-color: var(--grayish);
    border-top: 7px solid var(--blueish);
    text-align: center;
}

.first h3, .third h3 {
    text-transform: uppercase;
    color: var(--blueish);
    font-size: 20px;
}

.second, .forth {
    background-color: var(--blueish);
    border-top: 7px solid white;
    text-align: center;
}

.second h3, .forth h3 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.container h2 {
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    font-family: 'Montserrat';
}

.triangle {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid var(--blueish);  
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    visibility: hidden;
}

.option-container {
    display: flex;
    margin-bottom: 14px;
}

.service-option {
    border: 1px solid lightgray;
    width: calc(1160px/6);
    text-align: center;
    padding: 28px 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.service-option a {
    color: black;
}

.service-option:hover {
    border: none;
    background-color: var(--blueish);
}

.service-option:hover a {
    color: white;
}
  
.service-option:hover + div {
    visibility: visible;
}

.option-container a {
    text-decoration: none;
    font-size: 16px;
}

.paragraph {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

.section-purchase {
    background-image: url('../img/section-2.jpg');
    background-position: center;
}

.translucent-background {
    padding: 60px 0 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.purchase {
    width: 1160px;
    margin: 0 auto;
}

.purchase h3 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: var(--blueish);
    text-transform: uppercase;
}

.purchase h4 {
    text-align: center;
    color: #d8d8d8;
    margin: 31px 0 0;
    font-weight: 700;
    line-height: 40px;
    font-size: 16px;
}

.purchase button {
    text-transform: uppercase;
    color: white;
    background-color: var(--blueish);
    border: none;
    border-top: 5px solid white;
    padding: 24px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 125px;
}

.work {
    width: 1160px;
    margin: 0 auto;
}

.work h2 {
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
}

.upper-line {
    height: 5px;
    background-color: var(--blueish);
    visibility: hidden;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav-options {
    display: flex;
}

.nav-option:hover div {
    visibility: visible;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    color: var(--grayish);
    padding: 23px;
    border: 1px solid lightgray;
    display: inline-block;
}

.images {
    background-color: yellow;
}

.work button { 
    width: 165px;
    text-transform: uppercase;
    padding: 25px;
    background-color: var(--blueish);
    color: white;
    background-image: url('../img/plus.svg');
    background-position: 22px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 100px;
}

.button {
    width: 165px;
    margin: 0 auto;
}

.footer {
    background-color: #22353f;
    padding: 45px 0;
}

.footer h4 {
    text-align: center;
    color: var(--whiteish);
    font-size: 14px;
}

.footer span {
    color: var(--blueish);
}

